pandas
numpy
pytest
scipy
numba
tqdm
matplotlib
toolz
cvxpy
scikit-learn
tqdm
hdbscan
keyboard
magpylib
seaborn
git+https://github.com/aphoffmann/wavelets.git
git+https://github.com/aphoffmann/pymssa.git
git+https://github.com/aphoffmann/nsgt.git
